* {
	-fx-font: 15 arial;
	-fx-base: #b0c4de;
}

.tab {
	-fx-padding: 20 20 20 20;
}

.tab:selected .focus-indicator{
	-fx-border-color: transparent;
}


.menu-item:hover {
	-fx-background-color: #008BFF;
}



#btnAnadir, #btnCancelar {
	-fx-font: 12 "arial";
	
}


